
body {
	background-color: #000000;
}

header {
	margin: 70px;
}


.display-inline-block {
	display: inline-block;
}

header {
  width: 100%
}

li {
	margin-left: 120px;
}

h1 {
	color: #BDBDBB;
	text-align: center;
	font-size: 30px;
	
}

.section-div {
    background-color: #000000;
    margin: auto;
   	width: 60%;
    padding: 10px;
   
}

.flip-card {
	width: 210px;
	height: 190px;
  margin: 20px;

	display: inline-block;      
    }

.imige-style {
 width: 230px;
  height: 210px;
  padding: 20px;

}
.flip-card-inner {
  
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
   z-index: 2;
}

.flip-card-back {
 transform: rotateY(180deg);
  z-index: 1;
}