
body {
	background-color: #000000;
}

header {
	margin: 70px;
}


.display-inline-block {
	display: inline-block;
}

a:hover {
  color: red;
  }

li {
	margin-left: 120px;
}

h1 {
	color: #BDBDBB;
	text-align: center;
	font-size: 30px;
	margin-bottom: 50px;
}

.section-div {
    background-color: #000000;
    margin: auto;
   	width: 60%;
   	padding: 10px;

	
}

.div-style {
	background-color: #FFFFFF;
	width: 230px;
	height: 230px;
	display: inline-block;
	margin-left: 30px;
	margin-bottom: 30px;

    
    }

    div h2 {
    	color: #BDBDBB;
    	text-align: center;
    	margin-top: 60px;
    	font-size: 20px;

    }

    div p {
    	color: #BDBDBB;
    	margin-left: 30px;
    	margin-top: 10px;
    	
    }