
/*გლობალური სტილები*/

body {
	background-color: #000000;
}

header {
	margin: 5%;
  width: 100%
}


nav {
   width: 100%;
}

.display-inline-block {
	display: inline-block;
}



/*მთვარი მენიუ*/

li {
	margin-left: 110px;
}

h1 {
  
	color: #BDBDBB;
	text-align: center;
	font-size: 30px;
	
}

.div-section {
    width: 100%;
    background-color: #000000;
    margin: auto;
   	width: 60%;
    padding: 10px;
   
}

.flip-card {
	width: 210px;
	height: 190px;
  margin: 20px;

	display: inline-block;      
    }

.imige-style {
 width: 230px;
  height: 210px;
  padding: 20px;

}
.flip-card-inner {
  
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
   z-index: 2;
}

.flip-card-back {
 transform: rotateY(180deg);
  z-index: 1;
}

.add-section {
  width: 100%;
  height: 50px;
}



.add-img {
    display: block;
    margin-left: auto;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}



/*რეგისტრაციის გვერდი*/

.close-section {
  width: 100%;
}

.close-img {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}


.login-section {
  width: 100%;
}

.login-img {
    display: block;
    margin: auto;
    padding-bottom: 20px;
}
.form-section {

 width: 100%
 }

.input-style {
display:block;
margin:auto;
background-color: transparent;
width: 300px;
border: none;
border-bottom: 2px solid white;
padding-bottom: 10px;
padding-top: 10px;


}

input:focus {
  outline: none;
}

input::placerholder {
  color: red;
}

h2 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 50px;
  color: #BDBDBB;
}



h3 {
  text-align: center;
  color: #BDBDBB;
}

h4 {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  color: #BDBDBB;
}

/*სიზმრების ჩანაწერების გვერდი*/


.img-section {
  width: 100%;
  margin-left: 160px;
  padding-bottom: 20px;
}

.article-section {
   width: 60%;
   margin-left: 170px;
   color: #BDBDBB;
}

h5 {
  text-align: left;
  margin-left: 170px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 34px;
  color:#BDBDBB;


}




/*სიზმრების ჩანაწერების გვერდის დასასრული*/